form label{
    position: relative;
}

form label #placeholder{
    position: absolute;
    top:0px;
    left: 8px;
}

#firsttask {
    position: relative;
    margin:20px auto;
    width: 210px;
}

h3{
    text-align: center;
}

#secondtask{
    position: relative;
    margin: 30px 60px 5px;
}

.marginleft{
    margin-left: 15px;
}


#formdiv{
    position: relative;

    margin: 20px 0 0 30px;
}
.leftmargin{
    margin-left: 110px;
}

/* 3rd task */

form input{
    display: block;
}
form span{
    margin-left: 10px;
    margin-top: -4px;

}

